<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<% if @error %>
			<div class="text-center container-transparent">
				<div class="text-danger">
					<%= @error %>
				</div>
			</div>
		<% end %>
		<% if @status %>
			<div class="text-center container-transparent">
				<div class="text-success">
					<%= @status %>
				</div>
			</div>
		<% end %>
		<% if !@pool %>
			<div class="text-center container-transparent">
				<h2>Oops!</h2>
				<p>It seems that there's no open pool.</p>
				<p>Try coming back later.</p>
			</div>
		<% else %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<center><img src="images/messi.jpg" height="140" width="200"/></center>
					<h4 class="text-center">Make your picks!</h4>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" action="/pick" method="POST" name="frmmatches" role="form">
						<input type='hidden' name='rowid' value=<%= @pool.rowid %>>
						<div class="form-group">
							<div id='TextBoxesGroup' class="col-sm-offset-1 col-sm-10 text-center">
								<% @pool.matches.each do |match| %>
								<% div_id = "'TextBoxDiv_#{match.rowid}'" %>
								<% textbox_a_id = "'textboxA_#{match.rowid}'" %>
								<% textbox_b_id = "'textboxB_#{match.rowid}'" %>
								<% result_id = "'result_#{match.rowid}'" %>
								<div style="margin: 10px 0px;" id=<%= div_id %>>
									<input type='textbox' name=<%= textbox_a_id %> placeholder="Team Name" readonly value=<%= match.firstTeam %>>
									<label>vs.</label>
									<input type='textbox' name=<%= textbox_b_id %> placeholder="Team Name" readonly value=<%= match.secondTeam %>>
									<br>
									<label>My pick</label>
									<br>
									 <%= @picks[match.rowid] %> 
								</div>
								<% end %>
							</div>
						</div>
						<hr>
						<div class="form-group">
							<div class="col-sm-offset-1 col-sm-10">
								<input type='submit' class="btn btn-info btn-block" value='Enter' id='submit'>
							</div>
						</div>
					</form>
				</div>
			</div>
		<% end %>
	</div>
</div>