<!DOCTYPE html>

<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../Content/bootstrap-3.3.4/css/bootstrap.css" rel="stylesheet">
        <link href="../Content/CSS/main.css" rel="stylesheet">
        <script src="../../js/openPool.js"></script>
        <title>Soccer Pool</title>
    </head>
    <header id="header">
       <br>
       <h1 class="white-text text-center"> Soccer Pool</h1>
       <br>
    </header>
    <br>
        <div class="navbar navbar-green navbar-fixed">
            <div class="row"> 
                    <div class="col-md-offset-3 col-md-2">
                         <a href="#" class="btn btn-success navbar-text" role="button">Home</a>
                    </div>
                    <div class="col-md-2">
                         <a href="#" class="btn btn-success navbar-text text-center" role="button">Pool</a>
                    </div>
                    <div class="col-md-2">
                        <a href="#" class="btn btn-success navbar-text" role="button">Matches</a> 
                    </div>
                </div>
            </div>
    
	<body id="body">
     
    <div class="container">
        <h2 class="text-h2 text-center bg-success"> Enter Picks </h2>
		<hr>
		
		<div class="container">
		    <div class="row">
		    <div class="col-md-offset-4 col-md-4">
		    <p class="text-black text-center bg-warning"> Enter the number of matches of this pool: </p></div>
		    </div><br>
		    <div class="row">
		        <div class="col-md-offset-4 col-md-2">
		            <input type="text" id="numMatches" name="numMatches"> 
		        </div>
		         <div class="col-md-2">
		            <button class="btn btn-sm btn-block btn-success" value="btnmatches" id="btnmatches" name="btnmatches" onClick="getTeams()">Submit</button> 
		        </div>
		    </div>
		    <form method="post">
		    <div class="row" id="divmatches">
		        <hr>
		        <div class="col-md-offset-5 col-md-2">
		        <p class="text-black text-center bg-success">Matches</p>
		        </div>
		        </div><br>
		        <div class="row">
		        <div class="col-md-offset-1 col-md-2">
		        <label><%= matchcount %> </label>
		        </div>
		        
		        <div class="col-md-offset-2 col-md-2">
		        <select id="teamA" name="teamA">
		            <% @team.each do |matches| %>
		                <option value="<%= matches %>"><%= TeamA %></option>
		            <%= end %>
		        </select>
		        </div>
		        <div class="col-md-offset-2 col-md-2">
		        <select id="teamB" name="teamB">
		            <% @team.each do |matches| %>
		                <option value="<%= matches %>"><%= TeamB %></option>
		            <%= end %>
		        </select>
		        </div>
		        </div>
		    </div>
		    <input type="submit" value="continue" />
		  </form>
		</div>
    </body>
        
    </html>